html{
    height: 99%;
    width: 100%;
}
body{
    
    height: 99%;
    width: 98%;
    background-size: 50vmax;
    background-color: rgb(126, 255, 255);
    
}
p{
    margin: 0px;
}
.data{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 84%;
    width: 36%;
}
.top{
    float: left;
    padding: 1vmax;
}
.top .title{
    font-weight: 700;
    font-family: monospace;
    color: #001e00;
    font-size: min(3.4vmax,38px);
}
.images{
    height: 99%;
    width: 63%;
    float: right;
}
.Rain{
    height: 76%;
    width:inherit;
    position: absolute;
    bottom:0%;
    background-image: url("heavyRain.png");

}

.Snow{
    height: 76%;
    width: inherit;
    position: absolute;
    bottom:0%;
    background-image: url("snowflake.png");
    background-size: 10vmax;
}
.ClearSky{
    width: 20vmax;
}
.hide{
    display: none;
}
.visible{
    display: block;
}
#place{
    font-size: min(2vmax,22px);
    padding: min(0.1vmax,0.1em);
    color: rgb(0, 0, 0);
}
#ClearSkyDay {
    float: right;
    width: 17vw;
    max-width: 18em;
}
#ClearSkyNight {
    float: right;
    padding-top: 2vmax;
    padding-right: 3vmax;
    width: 10vw;
    max-width: 10em;
}
#LightCloud,#DarkCloud {
    width: inherit;
    position: absolute;
    max-width: 74em;
    padding-top: min(8em, 7.9vw);
    right: 0px;
}
#PartlyCloud {
    width: inherit;
    position: absolute;
    max-width: 74em;
    padding-top: min(8em, 7.9vw);
    right: 0px;
}
.js-query{
    background-color: #bad1fb;
    border-width: 0.5vmax;
    border-color: rgb(67, 67, 255);
    height: auto;
    font-size: min(2vmax,40px);
    width: 23vmax;
    color: rgb(0, 0, 193);
    border-radius: 0.3vmax;
}
#buttonSubmit {
    border-width: 0.5vmax;
    background: #55eb55;
    height: auto;
    float: right;
    margin-left: 0.5vmax;
    width: 9vmax;
    font-size: min(2vmax,38px);
    font-family: monospace;
    font-weight: 600;
    border-radius: 0.2vmax;
    border-color: #009f00;
    color: rgb(0, 91, 0);
}
#grass{
    background-color: rgb(99, 203, 99);
    width: 55%;
    min-width: 13em;
    height: 8%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@media only screen and (max-width: 475px) {
    #houseDay {
      right: 0% !important;
    }
    .Snow{
        height: 80%;
    }
    .Rain{
        height: 80%;
    }
  }
  @media only screen and (max-width: 912px) {
    .images {
      height: 80%;
      width: 50%;
      float: right;
    }
  }
  
  
#houseDay,#houseNight{
    width: max(12em,27vw);
    bottom: 8%;
    position: absolute;
    right: 11%;

}
.data div{
    background: lightblue;
    padding: min(0.2vmax,0.15em);
    margin: min(1vmax,14px);
    width: fit-content;
    border-radius: 0.2vmax;
    border-width: min(0.5vmax,20px);
    border-style: ridge;
    border-color: blue;
    font-size: min(1.5vmax,16px);
    color: darkblue;
    font-family: monospace;
    text-align: center;
    font-weight: 600;
}
.starting-page{
    background: lightblue;
    padding: min(0.4vmax,0.3em);
    margin: min(1.5vmax,20px);
    width: fit-content;
    border-radius: 0.2vmax;
    border-width: min(0.5vmax,20px);
    border-style: ridge;
    border-color: #8d8dff;
    font-size: min(4vmax,49px);
    color: blue;
    font-family: monospace;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: min(18vmax,290px);
    left: 0px;
}
.data span{
    color: blue;
    font-weight: 800;
    font-family: monospace;
    font-size: min(2vmax,25px); 
}